:root {
  font-family: "Comic Sans MS", "Comic Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #ffffdd;

  --accent-color: #111111;
  --fill-color: #1731b3;
  --border-radius: 5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--fill-color);
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
button:hover {
  filter: brightness(0.8)
}
button:focus,
button:focus-visible {                              
  outline: 4px auto -webkit-focus-ring-color;
}

select:focus,
select:focus-visible {                              
  outline: 4px auto -webkit-focus-ring-color;
}


input {
  background-color: white;
  color: inherit;
  border-radius: 5px;
  padding: 0.7em;
  border: solid var(--accent-color) 2px;
}

.invisible {
  display: none
}