.listbuilder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listbuilder button {
  border: solid black 2px;
}

.listitem {
  width: 100%;
  display: flex;
  margin: 3px 0;
  gap: 3px;
}

.listitem input {
  flex-grow: 1;
}

.listitem button {
  background-color: #aa0000;
  justify-content: center;
  display: flex;
}

.list {
  max-height: 30vh;
  overflow: scroll;
}