.listbuilder {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 30vh;
  overflow: scroll;
  gap: 5px;
  margin: 5px 0;
}

.listbuilder button {
  border: solid black 2px;
}

.listitem {
  width: 100%;
  display: flex;
  gap: 5px;
}

.listitem input {
  flex-grow: 1;
}

.listitem button {
  background-color: #aa0000;
  justify-content: center;
  display: flex;
}