.generated-url {
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border: solid black 2px;
  border-radius: 5px;
  max-width: 100%;
}

.generated-url code {
  font-size: 1.5em;
  overflow: scroll;
  max-width: 60%;
  text-wrap: nowrap;
}

.generated-url a {
  display: flex;
  background-color: blue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}